*{
  /* font-family: 'Sanchez-Regular'; */
}
a{
  text-decoration: none;
  color: white;
}
html{
  background: #ebebeb;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title{
  font-size: 4em;
}

.hero-body {
  display:block!important;
  margin: 12% auto auto auto !important;
}

.hero-icons{
  float:left;
}
.hero-icons:nth-child(2){
  margin: 0 0 0 10px;
}

.hero-foot{
  padding: 0 0 20px 20px;
}

.sec2-layer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 3em 0 0 0;
}

.sec2-images{
  height:300px;
  width:300px;
  background-size: cover;
  background-position: center;

}

.sec2-content{
  max-width:400px;
  margin: 40px 40px 20px 40px;
}

@media only screen and (max-width: 500px){
  .sec2-images{
    width:75vw;
    height: 75vw;
  }

.sec2-content{
  max-width: 400px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  }

  .hero-body {
    margin: 40% auto auto auto !important;
  }
}

.galeria{
  padding: 70px;
  background: rgb(109, 187, 72);
  min-height: 100vh;
}
